/* =====  ===== */

* {
    color: #f8f8f8;
}

/* gold #deb571
white #f8f8f8
silver #cfcdcc
grey #4a4a49
black #0a0a0a */

/* ===== HEADER ===== */

.eventHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url("../images/event/mimi-thian-ZKBzlifgkgw-unsplashflou.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}

.eventDate {
    font-size: 2.5em;
    color: #f8f8f8;
}

.pageTitle {
    padding: 0% 10%;
    font-size: 5em;
    color: #f8f8f8;
}

.eventHour {
    font-size: 2.5em;
    color: #deb571;
}

.eventDirection {
    font-size: 1.5em;
    color: #f8f8f8;
}

/* ===== DESCRIPTION ===== */

#eventDetails {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articleContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: left;
}

.articleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    color: #f8f8f8;
}

.articleContent>p {
    /* width: 40%; */
    padding: 0% 5%;
    text-align: justify;
}

.firstText {
    margin: 0 5% 0 10%;
}

.secondText {
    margin: 0 10% 0 5%;
}

.articleTitle {
    padding: 5% 15% 0 15%;
    color: #deb571;
}

.articleContent>button {
    width: 25%;
    height: auto;
    background-color: #deb571;
    border-style: none;
    color: #f8f8f8;
}

.articleContainer>img {
    width: 45%;
    height: auto;
}

/* ===== FORMULAIRE ===== */

#eventForm {
    /*   
    position: relative;

    justify-content: center;
    text-align: center;
    align-items: center; */
    margin: 0 20%
}

.formTitle {
    padding: 0 5%;
    color: #deb571;
}

.formDetails {
    display: flex;
    justify-content: flex-start;
}

.formBox {
    display: block;
    color: #f8f8f8;
}

label {
    color: #f8f8f8
}

/* .formIdentity {
    display: inline-block
} */

.input {
    background-color: #0a0a0a;
}

.formButton {
    background-color: #0a0a0a;
    border-bottom: none;
    border-top: #deb571 solid 1px;
    border-left: #deb571 solid 1px;
    border-right: #deb571 solid 1px;
    color: #deb571;
}

/* ===== CAROUSEL ===== */

.carousel {
    /* position: relative; */
    display: flex;
    /* flex-wrap: nowrap ; */
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* .item{
    width: 50%;
} */

.goldBorder {
    border: 1px solid #deb571;
}