.gold{
    color: #deb571;
}
.white{
    color: #f8f8f8
}
.silver{
    color: #cfcdcc
}
.grey{
    color: #4a4a49
}
.black{
    color: #0a0a0a
}

#eventPage {}

section {
    position: relative;
    color: aliceblue;
}

#eventHead {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#eventDetails {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#eventTitle {
    /* position: absolute */
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.content {
    /* position: absolute; */
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.content>p{
width: 40%;
}
.content>button{
    color: #f8f8f8;
    background-color: #deb571;
    width: 25%;
    height: auto;

    border-style: none;
}


.container>img {
   width: 50%;
    height: auto;
}


#eventPrice{
  
}
#eventInfo>img{
}

#eventForm>form {
    position: relative;
    display: flex;
    justify-content: flex-start;

    align-items: center;
}

#eventCarousel {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}