
/* ===== Fonts ===== */

@font-face {
    font-family: 'GoodHeadline';
    src: url("../fonts/GoodHeadlinePro/50d00cd7dcec3a1d176aa02f742f9f27.woff2") format("woff2"),
    url("../fonts/GoodHeadlinePro/50d00cd7dcec3a1d176aa02f742f9f27.woff") format("woff");
}

@font-face {
    font-family:"good-headline-web-pro-wide";
    src:url("https://use.typekit.net/af/336611/00000000000000003b9b05f6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/336611/00000000000000003b9b05f6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/336611/00000000000000003b9b05f6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-display:auto;font-style: normal; font-weight: 100;
}
@font-face {
    font-family:"ff-good-headline-web-pro";
    src:url("https://use.typekit.net/af/32f91a/00000000000000003b9b059c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/32f91a/00000000000000003b9b059c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/32f91a/00000000000000003b9b059c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-display:auto;font-style:normal;font-weight:400;
}
/* ===== Background ===== */

html {
    scroll-behavior: smooth;
}

body{
    background: #1a1a1a;
    margin: 0;
}

#bg{
    position: absolute;
    width: 100%;
    height : 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}

/* ===== Cursor ===== */
.cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}
.cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 11000;
    background: #FFF;
}
.cursor--canvas {
    width: 100vw;
    height: 100vh;
    z-index: 12000;
}

/* ===== Navigation ===== */

#nav{
    position: fixed;
    opacity: 0.2;
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#horizontal{
    background: blue;
    width: 100%;
    height: 25%;
}

#vertical{
    background: red;
    height:75%;
    width: 15%;
}
/* ===== Title ===== */

#title {
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#slogan{
    width: 100%;
    align-items: center;
    justify-content: center;
}
#slogan h1 {
    color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 7em;
    align-items: center;
    font-family: "good-headline-web-pro-wide";
    letter-spacing: 0.2em;
}
#slogan h1 span:last-of-type{
    position: absolute;
    margin-top: 0.55em;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

#parts{
    position: sticky;
    top: calc(0px - 15%);
    height: 100%;
    overflow-x: scroll;

}
#parts::-webkit-scrollbar {
    display: none;
}

#parts h2 {
    font-family: "good-headline-web-pro-wide";
    letter-spacing: 0.1em;
    -webkit-text-stroke: 2px #DCB97D;
    color: transparent;
    font-size: 35em;
    white-space: nowrap;
    margin: 0;
}#parts h2::-webkit-scrollbar {
    display: none;
}

 #scroll{
     font-size: x-large;
     color: #FFFFFF;
     text-align: center;
 }

.sticky {
    position: sticky!important;
    transition: 1s;
    /*animation: smoothScroll 1s forwards;*/
}
@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.textContent{
    color: white;
    font-family: "GoodHeadline";
    font-size: 1.5em;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}


/* ===== Content ===== */
#main{
    position: fixed;
    overflow-y: scroll;
    overscroll-behavior: contain;
    top: 0; right: 0; bottom: 0; left: 0;
    flex-direction: column;
}
.fullScreen{
    height: 100vh;
    width: 100%;
}
#title{

}
#who{

}
#team {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 91%;
    height: 75vh;
    padding: 0 2% 0 7%;
}

#team section{
    display: flex;
    flex-direction: column;
    width: 13%;
    height: 100%;
    justify-content: space-around;
    text-align: start;
}
#team section:nth-child(2){
    margin: 15% 0 0 0;
}
#team section:nth-child(4){
    margin: 25% 0 0 0;
}
.personPhoto{
    background: #FFFFFF;
    width: 100%;
    height: 45%;
}
.infos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.infos span:first-of-type{
    text-transform: capitalize;
    font-size: 2em;
    color: #DCB97D;
}
.infos span:last-of-type{
    text-transform: uppercase;
}
.resume{
    line-height: 1.6em;
}